body {
    background-color: rgb(242, 242, 242);
}

.App {
    text-align: center;
}

.heading {
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 2px 2px #616060;
    letter-spacing: 0.2em;
}

.c1 {
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    height: 10%;
    border-bottom: 1px solid rgb(95, 94, 94);
    padding: 10px;
}

.c2 {
    height: 20%;
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
    border-bottom: 1px solid rgb(95, 94, 94);
    padding: 10px;
    padding-top: 20px;
}

.c3 {
    text-align: center;
    height: 10%;
    font-weight: bolder;
    padding: 10px;
}

.c1 .c2 .c3 :hover {
    cursor: pointer;
}

.text:hover {
    color: rgb(62, 46, 206);
    font-size: 15px;
}

a {
    text-decoration: none;
}

.name {
    height: 8px;
    padding: 3px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 20px;
}

.name:hover {
    background-color: rgb(7, 7, 7);
    color: white;
}